body {
  padding-top: 50px;
}

header p {
  text-align: center;
}

h1 {
  text-align: center;
}

.proj {
    font-weight: bold;
    font-size: larger;
}


section section {
  border: 1px double gray;
  padding: 5px;
  margin: 5px;
}

